<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Phase v1 &bullet; Home</title>

	<link rel="stylesheet" href="../../styles/index.css">
</head>

<body>
	<nav class="navbar is-dark">
		<div class="navbar-brand">
			<div class="navbar-link">
				<h1>Phase</h1>
			</div>
		</div>
	</nav>

	<ul>
		<% guilds.forEach(function(guild){ %>
			<li> <%= guild.name %> </li>
		<% }) %>
	</ul>
</body>

</html>